
.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
}
h2 {
    text-align: center;
}

label {
    display: block;
}

.submit-button {
    background-color: green;
    border: none;
    padding: 10px;
    color: white;
  }